@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  inherits: true;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 85vh;
  height: auto;
  width: 100%;
  background-image: url("/MG_Logo.png");

  background-size: cover;
  background-position: center;
  z-index: 1;
}
