.body-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/Monnig\ Painting.png');
    opacity: .5;
    background-size: cover;
    background-position: center;
}