.list-container {
  position: relative;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
/* #history-title {
  width: auto;
  background-color: #fff;
  color: #000;
} */
th {
  height: 3rem;
  background-image: linear-gradient(
    to left top,
    #9ba0a5,
    #b4b7bb,
    #cdced1,
    #e6e6e8
  );
  color: #fff;
}
table {
  width: 98%;
  margin: 2.5% auto;
  /* top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  z-index: 10;
}
.list-container {
  width: 100%;
  height: 85vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
td {
  background-color: #fff;
  height: 1.8rem;
}
.listView__addImgIcon, .listView__imgIcon, .listView__pdfIcon {
  margin: 0 .5rem;
}
.listView__imgIcon {
  color: #0f11b4;
  cursor: pointer;
}
.listView__pdfIcon {
  color: #9a0404;
  cursor: pointer;
}
.listView__addImgIcon {
  color: #054c0d;
  cursor: pointer;
}
.next {
  margin-left: .25rem;
  cursor: pointer;
}
.prev {
  margin-right: .25rem;
  cursor: pointer;
}

.buttons-table-row td{
  border: none;
  background-image: linear-gradient(
    to left top,
    #9ba0a5,
    #b4b7bb,
    #cdced1,
    #e6e6e8,
    #ffffff
  );
  
}