.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 1px ridge rgba(195, 195, 195, 0.2);
  border-radius: 15px;
  box-shadow: 4px 4px 10px #676666;

  width: 60%;
  margin: 0.25 0;
  z-index: 10;
  background-color: #fff;
}
.form__container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.form__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
